.background {

  background-image: url(../components/img1.jpg);
  background-size: cover;

  height: 1000px;
  width: 2000px;
  background-position: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.inner-1 {
  background-color: rgb(227, 227, 227);
  height: 500px;
  width: 500px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
  


}